<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Find</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/add.css" rel="stylesheet">
    <link href="/css/view.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <a href="/">
            <img class="logo" src="/assets/logo.svg" alt="Dev Find">
        </a>
        <div class="buttons-header">
            <a href="/" class="ver-job">Ver Vagas</a>
            <a href="/jobs/add" class="abrir-job">Abrir Vagas</a>
        </div>
    </div>

    {{{ body }}}

    <div class="footer">
        <img class="logo-footer" src="/assets/logo.svg" alt="Dev Find">
        @copyright by João Teodoro
    </div>
</body>

</html>