    <div class="container">
        <h1>Divulgue a vaga preenchendo o formulário</h1>
        <div class="container-box">
            <h3>Preencha os campos da melhor possível encontrar o candidato perfeito</h3>
            <form>
                <label>Titulo da Vaga</label>
                <input class="title" name="title" type="text" placeholder="Digite o título da Vaga" required>
    
                <label>Descrição da vaga</label>
                <textarea name="description" id="description" placeholder="Descreva as atividades do Dev" required></textarea>
                
                <label>Empresa </label>
                <input class="company" name="company" type="text" placeholder="Digite o nome da empresa" required>
    
                <label>E-mai para contato </label>
                <input class="email" name="email" type="text" placeholder="Digite o e-mail para contato" required>
    
                <label>Salário </label>
                <input class="salary" name="salary" type="text" placeholder="Digite o salário oferecido" required>
            </form>
    
            <button class="send-job">Postar Vaga</button>
        </div>
            
    </div>