<div class="container-img">
    <div class="title-desc">
        Não seja escolhido, Escolha!
        <!-- <span>Somos um site com mais vagas de tecnologia</span> -->
    </div>
    <div class="find">
        <input type="text" placeholder="Digite a vaga que esta buscando">
        <button class="new">Buscar</button>
    </div>
</div>

<div class="selection">Veja nossas vagas em destaque</div>
<ul class="search">
    <li class="company-new-job">
        <img class="img-company" src="/assets/teste.png" alt="Company">
        <div class="info-job-new">
            <p>Easynvest</p>
            <h1>Dev Pleno</h1>
            <div class="salary">R$ 6.0000</div>
        </div>
        <span class="new-job">Nova</span>
        <button class="more">Ver Vaga</button>
    </li>
    <li class="company-job">
        <img class="img-company" src="/assets/teste.png" alt="Company">
        <div class="info-job">
            <p>Easynvest</p>
            <h1>Dev Pleno</h1>
            <div class="salary">R$ 6.0000</div>
        </div>
        <button class="more">Ver Vaga</button>
    </li>
    <li class="company-job">
        <img class="img-company" src="/assets/teste.png" alt="Company">
        <div class="info-job">
            <p>Easynvest</p>
            <h1>Dev Pleno</h1>
            <div class="salary">R$ 6.0000</div>
        </div>
        <button class="more">Ver Vaga</button>
    </li>
    <li class="company-job">
        <img class="img-company" src="/assets/teste.png" alt="Company">
        <div class="info-job">
            <p>Easynvest</p>
            <h1>Dev Pleno</h1>
            <div class="salary">R$ 6.0000</div>
        </div>
        <button class="more">Ver Vaga</button>
    </li>
</ul>