body {
    height: 100vh;
    margin: 0 auto;
    background-color: #F1F1F1;
    font-family: 'Red Rose', cursive;
}

button {
    font-size: larger; 
    cursor: pointer;
}

input {
    height: 2rem;
    width: 45rem;
    /* margin-right: 1rem; */
    /* border: 2px solid #003328; */
}

span {
    margin-top: 5rem;
    font-size: 1.4rem;
}

input::placeholder {
    padding-left: 0.6rem;
    font-size: larger;
    color: #003328;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003328;
    height: 5rem;
}

.logo {
    height: 5rem;
}

.buttons-header {
    margin-right: 2.8rem;  
}

.ver-vagas {
    border: 1px solid #F1F1F1;
    color: #F1F1F1;
    background-color: #003328;
    margin-right: 2rem;
    padding: 0.6rem;
}

.ver-vagas:hover {
    border-bottom: 2px solid #F1F1F1;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #F1F1F1;
    background-color: #003328;
    transition: 2s;
}

.abrir-vagas {
    border: 1px solid #63C3B2;
    color: #63C3B2;
    background-color: #003328;
    padding: 0.6rem;
}

.abrir-vagas:hover {
    border-bottom: 2px solid #63C3B2;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #63C3B2;
    background-color: #003328;
    transition: 2s;
}

.container-img {
    margin: 0 auto;
    height: 28rem;
    background-color:#252525;
    
    background-image: url("/public/assets/teste.png");
}

.title-desc{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    color: #F1F1F1;
    margin-left: -1rem;
    font-size: 3rem;
}

.find {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
}

.new {
    width: 7rem;
    height: 2.4rem;
    background-color: #63C3B2;
    border: #F1F1F1;
    color: #F1F1F1
}

.new:hover {
    background-color: #003328;
    color: #63C3B2;
    border: 2px solid #63C3B2; 
}

.selection {
    font-size: 2rem;
    color: #252525;
    margin: 1rem 0 2rem 12rem;
}

.company {
    margin: 0 12rem 2rem 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #63C3B2;
    height: 10rem;
    background-color: #FFFFFF;
}

.img-company {
    border: 2px solid #003328;
    height: 8rem;
    margin-left: -3rem;
    border-radius: 30%;
}

.info-vaga {
    margin-left: -45rem;
}

.name-company {
    margin: -1rem 0 1rem 0;
    font-size: larger;
}

.vaga {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.salary {
    font-style: italic;
}

.more {
    background-color: #003328;
    color: #F1F1F1;
    margin-right: 2rem;
    padding: 0.6rem;
    border: none;
}

.more:hover {
    background-color: #63C3B2;
    color: #F1F1F1;
}

.footer {
    background-color: #003328;
    height: 3rem;
    display: flex;
    justify-content: center;
    color: #F1F1F1;
    align-items: center;
}

.logo-footer {
    height: 3rem;
    margin-right: 1rem;
}


