body {
    margin: 0 auto;
    background-color: #F1F1F1;
    font-family: 'Red Rose', cursive;
}

button {
    font-size: larger; 
    cursor: pointer;
}

input {
    height: 2rem;
    width: 45rem;
    font-size: 1.3rem;
    
}

span {
    background-color: rgb(184, 34, 34);
    color: #F1F1F1;
    padding: 0.4rem;
    margin-top: 5rem;
    font-size: 1.4rem;
    margin: 0 -33rem 0 5rem;
}

input::placeholder {
    padding-left: 0.6rem;
    font-size: 1.3rem;
    font-style: italic;
    color: #003328;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003328;
    height: 5rem;
}

.logo {
    height: 5rem;
}

.buttons-header {
    margin-right: 2.8rem;  
}

.ver-job {
    border: 1px solid #F1F1F1;
    color: #F1F1F1;
    background-color: #003328;
    margin-right: 2rem;
    padding: 0.6rem;
}

.ver-job:hover {
    border-bottom: 2px solid #F1F1F1;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #F1F1F1;
    background-color: #003328;
    transition: 2s;
}

.abrir-job {
    border: 1px solid #63C3B2;
    color: #63C3B2;
    background-color: #003328;
    padding: 0.6rem;
}

.abrir-job:hover {
    border-bottom: 2px solid #63C3B2;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #63C3B2;
    background-color: #003328;
    transition: 2s;
}

.container-img {
    margin: 0 auto;
    height: 28rem;
    
    background-image: url("/assets/frame-teste.svg");
}

.title-desc{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    color: #F1F1F1;
    margin-left: -1rem;
    font-size: 3rem;
}

.find {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
}

.new {
    width: 7rem;
    height: 2.4rem;
    background-color: #63C3B2;
    border: #F1F1F1;
    color: #252525;
    font-weight: bolder;
}

.new:hover {
    background-color: #0aeec4;
    color: #003328;
}

.selection {
    font-size: 2rem;
    color: #252525;
    margin: 1rem 0 2rem 12rem;
}

.company-job {
    margin: 0 12rem 2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #63C3B2;
    height: 10rem;
    background-color: #FFFFFF;
}

.company-new-job {
    margin: 0 12rem 2rem 9.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #F1F1F1;
    height: 10rem;
    background-color: #63c3b2;
}

.img-company {
    border: 2px solid #003328;
    height: 8rem;
    margin-left: -3rem;
    border-radius: 30%;
}

.info-job {
    margin-left: -55rem;
}

.info-job-new {
    margin-left: -38.5rem;
}

p {
    margin: -0.5rem 0 1rem 0;
    font-size: larger;
}

h1 {
    font-size: 2rem;
}

.salary {
    font-style: italic; 
    margin-top: 1rem;
}

.more {
    background-color: #003328;
    color: #F1F1F1;
    margin-right: 2rem;
    padding: 0.6rem;
    border: none;
}

.more:hover {
    color: #003328;
    font-weight: bolder;
    background-color: #0aeec4;
}

.footer {
    background-color: #003328;
    height: 4rem;
    display: flex;
    justify-content: center;
    color: #F1F1F1;
    align-items: center;
}

.logo-footer {
    height: 3rem;
    margin-right: 1rem;
}


